<div ng-if="matchedItems.items.length > 0">
  <div class="row" ng-repeat="item in menu.foundItems">
  <div class="col-md-1">
    {{$index + 1}}
  </div>
  <div class="col-md-6">
    <h3>{{ item.name }}</h3>
	<h4>{{ item.short_name }}</h4>
	<div>{{ item.description }}</div>
  </div>
  <div class="col-md-5">
    <button ng-click="menu.onRemove({index: $index})" class="btn btn-danger pull-right">Don't want this one!</button>
  </div>
</div>
</div>

<div class="alert alert-danger" role="alert" ng-show="menu.onEmpty">{{menu.onEmpty}}</div>

